html,
body{
	width: 100%;
}

body {
	width: 100%;
	font-family: helvetica;
	font-weight: lighter;
	margin-top: 0;
}

button {
	width: 80px;
	height: 30px;
	border-radius: 6px;
	box-shadow: none;
	border: none;
	font-size: 15px;
	background-color: #0489B1;
	color: white;
}

button:hover {
	cursor: pointer;
}

body > div {
	width: 1200px;
	margin: 10px auto;
	padding: 0;
	border-radius: 5px;
}

span {
	font-size: 25px;
}

h1 {
	margin-top: 0; 
	color: white;
	font-weight: lighter;
	background-color: black;
	padding: 30px 15px;
}

input[type="text"], input[type="tel"] {
	transition: all 0.30s ease-in-out;
	width: 400px;
	color: #555;
	height: 40px;
	margin: 2px 6px 16px 0px;
	outline: 0 none;
	padding: 0 5px;
	font-size: 20px;
	font-weight: lighter;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	outline: none;
}

input[type="tel"] {
	width: 95px;
}


/* ------------- Tabla ------------ */

table {
	float: left;
	width: 800px;
	table-layout: fixed;
	margin: 0 20px 0 0;
}

th, td {
	padding: 5px 10px;
	font-weight: lighter;
}


th {
	background-color: #BDBDBD;
	color: white;
	height: 60px;
}
 /* Encabezado */
thead tr th:first-child {
	width: 400px;
}


thead tr th:last-child {
	width: 80px;
}
/* Contenido */
tbody td[colspan="5"]{
	text-align: center;
	color: lightgray;
	font-size: 25px;
	border: none;
	height: 200px;
}

tbody td {
	height: 60px;
	border-top: solid lightgray 1px;
}

/* Pie de tabla */
tfoot{
	background-color: gray;
}

tfoot td{
	height: 60px;
	color: white;
	text-align: right;
}

tfoot tr td:nth-child(2){
	font-size: 28px;
	color: white;
	text-align: left;
}

tfoot tr:last-child{
	background-color: white;
	border: none;
}

/* -------- Info empleado ------- */
div div{
	margin: 0;
}

div div img{
	float: left;
	width: 50px;
	padding: 20px;
	border-radius: 80px;
}

div div p {
	padding: 15px;
	font-size: 18px;
}
